{{ define "main" }}
{{ .Content }}
{{- partial "social_icons.html" $.Site.Params.socialIcons -}}
<h2>Most Recent Writing</h2>

<h3 class="posts">Reflection</h3>
<ul id="posts">
{{- range first 1 (where site.RegularPages "Type" "reflection")}}
    <li>
        <a href="{{ .Permalink }}">
            {{ .Title }}
        </a>
        <small><time>{{ .Date.Format "Jan 2, 2006" }}</time></small>
        <small>{{ .Type }}</small>
        <div class="summary">{{ .Summary }}...</div>
    </li>
{{- end }}
</ul>

<h3 class="posts">Post</h3>
<ul id="posts">
{{- range first 1 (where site.RegularPages "Type" "post")}}
    <li>
        <a href="{{ .Permalink }}">
            {{ .Title }}
        </a>
        <small><time>{{ .Date.Format "Jan 2, 2006" }}</time></small>
        <small>{{ .Type }}</small>
        <div class="summary">{{ .Summary }}...</div>
    </li>
{{- end }}
</ul>

<h3 class="posts">Note</h3>
<ul id="posts">
{{- range first 1 (where site.RegularPages "Type" "note")}}
    <li>
        <a href="{{ .Permalink }}">
            {{ .Title }}
        </a>
        <small><time>{{ .Date.Format "Jan 2, 2006" }}</time></small>
        <small>{{ .Type }}</small>
        <div class="summary">{{ .Summary }}...</div>
    </li>
{{- end }}
</ul>

{{ end }}
